# These settings work from the repo root, given that the inventory and roles are in ./ansible.

[defaults]
result_format  = yaml
force_color = True

# You don't have to set /etc/ansible if you set the inventory path.
# When setting inventory, the host_vars and group_vars will be loaded automatically.
inventory =./ansible/hosts

# The ./roles path next to the playbook is used automatically.
# If you are using your own playbook, you will have to make sure the site-runner roles are available
# by setting roles_path.


# It's not really recommended to install roles here because you want to run the roles from your git repo.
# The roles in your repo are cloned to the runner's working directory are used instead.
# roles_path = /etc/ansible/roles
