[defaults]
stdout_callback  = yaml
force_color = True

# The ./roles path next to the playbook is used automatically.

# It's not really recommended to install roles here because you want to run the roles from your git repo.
# The roles in your repo are cloned to the runner's working directory are used instead.
# roles_path = /etc/ansible/roles
